{
    "presets": [
        [
            "env", {
                "targets": {
                    "ie": 9,
                    "chrome": 27,
                    "firefox": 30,
                    "safari": 5,
                    "opera": 23
                },
                "modules": false
            }
        ],
        "react"
    ],
    "plugins": [
        "transform-flow-strip-types",
        "transform-object-rest-spread",
        "syntax-object-rest-spread",
        "transform-es3-property-literals",
        "transform-es3-member-expression-literals",
        "transform-decorators-legacy",
        [ "transform-es2015-for-of", { "loose": true } ]
    ]
}
