{
  "presets": ["es2015"],
  "plugins": [
    "transform-object-rest-spread",
    "syntax-object-rest-spread",
    "transform-es3-property-literals",
    "transform-es3-member-expression-literals",
    ["transform-es2015-for-of", {"loose": true}],
    [ "__coverage__", { "ignore": ["node_modules/", "test/"] } ]
  ]
}
