html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

body {
    font-family: Helvetica Neue,HelveticaNeue,HelveticaNeue-Light,Helvetica Neue Light,helvetica,arial,sans-serif;
    vertical-align: top;
    border-collapse: collapse;
}

* {
    user-select: none;
    cursor: default;
    box-sizing: border-box;
}
