html, body {
    margin: 0;
    width: 100%;
    overflow: hidden;
    font-family: Helvetica Neue, HelveticaNeue, HelveticaNeue-Light, Helvetica Neue Light, helvetica, arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.flex-spacer {
    flex: 1;
}