
.wallet-item {
    white-space: nowrap;
    cursor: pointer;
    margin-top: 5px;
    border-bottom: 1px solid #eee;

    @media only screen and (min-width: 0px) {
        height: 50px;
    }

    @media only screen and (min-width: 600px) {
        height: 60px;
    }

    &:first-child {
        margin-top: 0px;
    }

    &:last-child {
        border-bottom: 0;
    }

    .icon {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 50px;
        margin-right: 20px;

        img {
            max-height: 90%;
            max-width: 90%;
        }
    }

    .description {
        display: inline-block;
        vertical-align: top;

        .name {
            font-size: .95em;
            height: 50%;
        }

        .details {
            height: 50%;
            color: #6c7378;
            font-size: .80em;
        }
    }
}