<style type="text/css">
    /* Buy Now Button */

    .fundingInstruments {
        padding-top: 3px;
    }


    @media only screen and (min-height: 22px) and (min-width: 100px) {
        .cardIcons {
            display: inline-block;
            background: url('https://www.paypalobjects.com/images/checkout/incontext/network_and_bank_icons_small_1x.png') no-repeat;
            height: 20px;
            padding-right: 5px;
        }

        .cardIcons.VISA {
            background-position: -12px -40px;
            width: 28px;
        }

        .cardIcons.MASTERCARD {
            background-position: -12px -70px;
            width: 26px;
        }

        .cardIcons.DISCOVER {
            background-position: -12px -100px;
            width: 29px;
        }

        .cardIcons.AMEX {
            background-position: -12px -130px;
            width: 20px;
        }

        .cardIcons.MAESTRO {
            background-position: -12px -220px;
            width: 24px;
        }

        .cardIcons.SWITCH {
            background-position: -12px -220px;
            width: 24px;
        }

        .cardIcons.CBNATIONALE {
            background-position: -12px -280px;
            width: 24px;
        }

        .cardIcons.COFINOGA {
            background-position: -12px -310px;
            width: 30px;
        }

        .cardIcons.JCB {
            background-position: -12px -430px;
            width: 21px;
        }

        .cardIcons.HIPER {
            background-position: -12px -460px;
            width: 25px;
        }

        .cardIcons.ELO {
            background-position: -12px -490px;
            width: 19px;
        }

        .cardIcons.HIPERCARD {
            background-position: -12px -520px;
            width: 30px;
        }

        .cardIcons.CUP {
            background-position: -12px -580px;
            width: 24px;
        }

        .cardIcons.CETELEM {
            background-position: -12px -760px;
            width: 31px;
        }

        .cardIcons.COFIDIS {
            background-position: -12px -790px;
            width: 32px;
        }
    }



    @media only screen and (min-width: 200px) and (min-height: 59px) {
        .cardIcons {
            display: inline-block;
            background: url('https://www.paypalobjects.com/images/checkout/incontext/network_and_bank_icons_big_1x.png') no-repeat;
            height: 27px;
            padding-right: 5px;
        }

        .cardIcons.VISA {
            background-position: -12px -47px;
            width: 36px;
        }

        .cardIcons.MASTERCARD {
            background-position: -12px -84px;
            width: 35px;
        }

        .cardIcons.DISCOVER {
            background-position: -12px -121px;
            width: 38px;
        }

        .cardIcons.AMEX {
            background-position: -12px -158px;
            width: 25px;
        }

        .cardIcons.MAESTRO {
            background-position: -12px -269px;
            width: 31px;
        }

        .cardIcons.SWITCH {
            background-position: -12px -269px;
            width: 31px;
        }

        .cardIcons.CBNATIONALE {
            background-position: -12px -343px;
            width: 31px;
        }

        .cardIcons.COFINOGA {
            background-position: -12px -380px;
            width: 38px;
        }

        .cardIcons.JCB {
            background-position: -12px -528px;
            width: 27px;
        }

        .cardIcons.HIPER {
            background-position: -12px -565px;
            width: 32px;
        }

        .cardIcons.ELO {
            background-position: -12px -602px;
            width: 25px;
        }

        .cardIcons.HIPERCARD {
            background-position: -12px -639px;
            width: 39px;
        }

        .cardIcons.CUP {
            background-position: -12px -713px;
            width: 31px;
        }

        .cardIcons.CETELEM {
            background-position: -12px -935px;
            width: 40px;
        }

        .cardIcons.COFIDIS {
            background-position: -12px -972px;
            width: 42px;
        }
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: ~"2/1"), only screen and (min-device-pixel-ratio: 2) {

        @media only screen and (min-height: 22px) and (min-width: 100px) {
            .cardIcons {
                display: inline-block;
                background: url('https://www.paypalobjects.com/images/checkout/incontext/network_and_bank_icons_small_2x.png') no-repeat;
                background-size: 90px 970px;
                height: 20px;
                padding-right: 5px;
            }

            .cardIcons.VISA {
                background-position: -12px -40px;
                width: 28px;
            }

            .cardIcons.MASTERCARD {
                background-position: -12px -70px;
                width: 26px;
            }

            .cardIcons.DISCOVER {
                background-position: -12px -100px;
                width: 29px;
            }

            .cardIcons.AMEX {
                background-position: -12px -130px;
                width: 20px;
            }

            .cardIcons.MAESTRO {
                background-position: -12px -220px;
                width: 24px;
            }

            .cardIcons.SWITCH {
                background-position: -12px -220px;
                width: 24px;
            }

            .cardIcons.CBNATIONALE {
                background-position: -12px -280px;
                width: 24px;
            }

            .cardIcons.COFINOGA {
                background-position: -12px -310px;
                width: 30px;
            }

            .cardIcons.JCB {
                background-position: -12px -430px;
                width: 21px;
            }

            .cardIcons.HIPER {
                background-position: -12px -460px;
                width: 25px;
            }

            .cardIcons.ELO {
                background-position: -10px -490px;
                width: 19px;
            }

            .cardIcons.HIPERCARD {
                background-position: -12px -520px;
                width: 30px;
            }

            .cardIcons.CUP {
                background-position: -12px -580px;
                width: 24px;
            }

            .cardIcons.CETELEM {
                background-position: -12px -760px;
                width: 31px;
            }

            .cardIcons.COFIDIS {
                background-position: -12px -790px;
                width: 32px;
            }
        }



        @media only screen and (min-width: 200px) and (min-height: 59px) {
            .cardIcons {
                display: inline-block;
                background: url('https://www.paypalobjects.com/images/checkout/incontext/network_and_bank_icons_big_2x.png') no-repeat;
                background-size: 110px 1393px;
                height: 27px;
                padding-right: 5px;
            }

            .cardIcons.VISA {
                background-position: -12px -47px;
                width: 36px;
            }

            .cardIcons.MASTERCARD {
                background-position: -12px -84px;
                width: 35px;
            }

            .cardIcons.DISCOVER {
                background-position: -12px -121px;
                width: 38px;
            }

            .cardIcons.AMEX {
                background-position: -12px -158px;
                width: 25px;
            }

            .cardIcons.MAESTRO {
                background-position: -12px -269px;
                width: 25px;
            }

            .cardIcons.SWITCH {
                background-position: -12px -269px;
                width: 31px;
            }

            .cardIcons.CBNATIONALE {
                background-position: -12px -343px;
                width: 31px;
            }

            .cardIcons.COFINOGA {
                background-position: -12px -380px;
                width: 38px;
            }

            .cardIcons.JCB {
                background-position: -12px -528px;
                width: 27px;
            }

            .cardIcons.HIPER {
                background-position: -12px -565px;
                width: 32px;
            }

            .cardIcons.ELO {
                background-position: -12px -602px;
                width: 25px;
            }

            .cardIcons.HIPERCARD {
                background-position: -12px -639px;
                width: 39px;
            }

            .cardIcons.CUP {
                background-position: -12px -713px;
                width: 31px;
            }

            .cardIcons.CETELEM {
                background-position: -12px -935px;
                width: 40px;
            }

            .cardIcons.COFIDIS {
                background-position: -12px -972px;
                width: 42px;
            }
        }
    }

</style>

{{#if style.fundingicons}}
    <div class="fundingInstruments">
        {{#sortFI pre.cardTypesByCountry.res.data.allowed}}
            {{sortedfI}}
        {{/sortFI}}
    </div>
{{/if}}
</body>
</html>
