$class-button:              'paypal-button';
$class-button-layout:       'paypal-button-layout';
$class-text:                'paypal-button-text';
$button-layout-horizontal:  'horizontal';
$button-layout-vertical:    'vertical';

.#{$class-button} .#{$class-text} {
    font-style: italic;
    font-weight: 600;
    font-size: 1.1em;
}

.#{$class-button}.#{$class-button-layout}-#{$button-layout-vertical} {
    .message-small {
        display: none;
    }
}

.#{$class-button}.#{$class-button-layout}-#{$button-layout-horizontal} {
    .message-large {
        display: none;
    }
    
    @media only screen and (min-width: 364px) {
        .message-small {
            display: none;
        }
        .message-large {
            display: inline-block;
        }
    }
}