$class-text: 'paypal-button-text';

.#{$class-text} {
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    top: -5px
}