$class-mark:                'paypal-mark';
$class-button:              'paypal-button';
$class-button-layout:       'paypal-button-layout';
$button-layout-horizontal:  'horizontal';
$button-layout-vertical:    'vertical';

.#{$class-button} {
    .text {
        display: inline-block;
        font-style: italic;
        font-weight: 600;
        margin-top: -1px;

        &-large {
            font-size: 1.1em;
        }

        &-small {
            font-size: 1.2em;
        }
    }

    &.#{$class-button-layout}-#{$button-layout-vertical} {
        .text {
            &-small {
                display: none;
            }
        }
    }
    
    &.#{$class-button-layout}-#{$button-layout-horizontal} {
        .text {
            &-large {
                display: none;
            }
        }
        
        @media only screen and (min-width: 364px) {
            .text {
                &-small {
                   display: none;
                }
                &-large {
                    display: inline-block;
                }
            }
        }
    }
}

.#{$class-mark} {
    .text {
        display: inline-block;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 14px;
        position: relative;
        top: -5px;

        &-small {
            display: none;
        }
    }
}