$class-mark:                'paypal-mark';
$class-button:              'paypal-button';
$class-text:                'paypal-button-text';
$class-button-layout:       'paypal-button-layout';
$button-layout-horizontal:  'horizontal';
$button-layout-vertical:    'vertical';

.#{$class-button} {
    .#{$class-text} {
        display: inline-block;
        font-style: italic;
        font-weight: 600;
        
        &.text-large {
            font-size: 1.1em;
        }
        
        &.text-small {
            font-size: 1.2em;
            margin-top: -1px;
        }
    }

    &.#{$class-button-layout}-#{$button-layout-vertical} {
        .#{$class-text} {
            &.text-small {
                display: none;
            }
        }
    }
    
    &.#{$class-button-layout}-#{$button-layout-horizontal} {
        .#{$class-text} {
            &.text-large {
                display: none;
            }
        }
        
        @media only screen and (min-width: 364px) {
            .#{$class-text} {
                &.text-small {
                   display: none;
                }
                &.text-large {
                    display: inline-block;
                }
            }
        }
    }
}

.#{$class-mark} {
    .#{$class-text} {
        display: inline-block;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 14px;
        position: relative;
        top: -5px;

        &.text-small {
            display: none;
        }
    }
}