
<div class="xcomponent-overlay xcomponent-focus">
    <a href="#xcomponent-close" class="xcomponent-close"></a>
    <div class="ppmodal">
        <div class="pplogo">
        </div>
        <div class="ppmsg" >
            Don't see the secure PayPal browser? We'll help you re-launch the window to complete your purchase.
        </div>
        <div class="continueLink">
            <a href="#" class="xcomponent-focus">Continue</a>
        </div>
    </div>

    <div class="{CLASS.ELEMENT}"></div>
</div>

<style>

    .xcomponent-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .xcomponent-overlay.xcomponent-popup {
        cursor: pointer;
    }

    .xcomponent-overlay .ppmodal {
        font-family: "HelveticaNeue", "HelveticaNeue-Light", "Helvetica Neue Light", helvetica, arial, sans-serif;
        font-size: 14px;
        text-align: center;
        color: #fff;
        z-index: 1000000002;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        width: 350px;
        top: 50%;
        left: 50%;
        position: fixed;
        margin-left: -165px;
        margin-top: -80px;
        cursor: pointer;
    }

    .xcomponent-overlay .ppmodal .pplogo {
        background: url("https://www.paypalobjects.com/images/checkout/incontext/incontext_mask_sprite.png") no-repeat -18px -16px;
        width: 132px;
        height: 36px;
        cursor: pointer;
        margin: 26px 0 0 109px;
        margin-bottom: 30px;
    }

    .xcomponent-overlay .ppmodal .ppmsg{
        font-size: 15px;
        line-height: 1.35;
        padding: 25px 0;
    }

    .xcomponent-overlay .ppmodal .continueLink{
        font-size: 15px;
        line-height: 1.35;
        padding: 10px 0;
    }

    .xcomponent-close {
        position: absolute;
        right: 16px;
        top: 16px;
        width: 16px;
        height: 16px;
        opacity: 0.6;
    }

    .xcomponent-close:hover {
        opacity: 1;
    }

    .xcomponent-close:before, .xcomponent-close:after {
        position: absolute;
        left: 8px;
        content: ' ';
        height: 16px;
        width: 2px;
        background-color: white;
    }

    .xcomponent-close:before {
        transform: rotate(45deg);
    }

    .xcomponent-close:after {
        transform: rotate(-45deg);
    }

    a{

        color: white;
    }

    .xcomponent-lightbox iframe {
        border-radius: 10px;
    }

    /*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */
    .xcomponent-lightbox-open {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: bounceInUp;
        animation-name: bounceInUp;
    }

    @-webkit-keyframes bounceInUp {
        from, 60%, 75%, 90%, to {
            -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }

        from {
            opacity: 0;
            -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0);
        }

        60% {
            opacity: 1;
            -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
        }

        75% {
            -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
        }

        90% {
            -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
        }

        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes bounceInUp {
        from, 60%, 75%, 90%, to {
            -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }

        from {
            opacity: 0;
            -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0);
        }

        60% {
            opacity: 1;
            -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
        }

        75% {
            -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
        }

        90% {
            -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
        }

        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }



</style>
