
<div class="paypal-checkout-overlay {CLASS.FOCUS}">
    <a href="#{CLASS.CLOSE}" class="{CLASS.CLOSE}"></a>
    <div class="paypal-checkout-modal">
        <div class="paypal-checkout-logo"></div>
        <div class="paypal-checkout-message" >
            #windowMessage
        </div>
        <div class="paypal-checkout-continue">
            <a href="#{CLASS.FOCUS}" class="{CLASS.FOCUS}">#continue</a>
        </div>
        <div class="paypal-checkout-loading">
            <div class="paypal-spinner"></div>
        </div>
    </div>

    <div class="{CLASS.ELEMENT} paypal-checkout-lightbox-wrapper"></div>
</div>

<style>

    #{id} .paypal-checkout-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);

        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
    }

    #{id}.{CLASS.CLOSING}.{CLASS.AUTOCLOSE} .paypal-checkout-overlay {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-name: fadeOut;
        animation-name: fadeOut;

        animation-fill-mode:forwards;
        animation-iteration-count: 1;

        -webkit-animation-fill-mode:forwards;
        -webkit-animation-iteration-count: 1;
    }

    #{id}.{CLASS.POPUP} .paypal-checkout-overlay {
        cursor: pointer;
    }

    #{id} .paypal-checkout-overlay .paypal-checkout-modal {
        font-family: "HelveticaNeue", "HelveticaNeue-Light", "Helvetica Neue Light", helvetica, arial, sans-serif;
        font-size: 14px;
        text-align: center;
        color: #fff;
        z-index: 1000000002;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        width: 350px;
        top: 50%;
        left: 50%;
        position: fixed;
        margin-left: -165px;
        margin-top: -80px;
        cursor: pointer;
        text-align: center;
    }

    #{id}.{CLASS.CLOSING} .paypal-checkout-message, #{id}.{CLASS.CLOSING} .paypal-checkout-continue {
        display: none;
    }

    .paypal-checkout-loading {
        display: none;
    }

    #{id}.{CLASS.CLOSING} .paypal-checkout-loading {
        display: block;
    }

    #{id} .paypal-checkout-overlay .paypal-checkout-modal .paypal-checkout-logo {
        background: url("https://www.paypalobjects.com/images/checkout/incontext/incontext_mask_sprite.png") no-repeat -18px -16px;
        width: 132px;
        height: 36px;
        cursor: pointer;
        margin-bottom: 30px;
        display: inline-block;
    }

    #{id} .paypal-checkout-overlay .paypal-checkout-modal .paypal-checkout-message {
        font-size: 15px;
        line-height: 1.5;
        padding: 10px 0;
    }

    #{id}.{CLASS.LIGHTBOX} .paypal-checkout-message, #{id}.{CLASS.LIGHTBOX} .paypal-checkout-continue {
        display: none;
    }

    #{id}.{CLASS.LIGHTBOX}.max-width.max-height .{CLASS.CLOSE} {
        display: none;
    }

    #{id} .paypal-checkout-overlay .paypal-checkout-modal .paypal-checkout-continue {
        font-size: 15px;
        line-height: 1.35;
        padding: 10px 0;
        text-decoration: underline;
        font-weight: bold;
    }

    #{id} .{CLASS.CLOSE} {
        position: absolute;
        right: 16px;
        top: 16px;
        width: 16px;
        height: 16px;
        opacity: 0.6;
    }

    #{id}.{CLASS.CLOSING} .{CLASS.CLOSE} {
        display: none;
    }

    #{id} .{CLASS.CLOSE}:hover {
        opacity: 1;
    }

    #{id} .{CLASS.CLOSE}:before, .{CLASS.CLOSE}:after {
        position: absolute;
        left: 8px;
        content: ' ';
        height: 16px;
        width: 2px;
        background-color: white;
    }

    #{id} .{CLASS.CLOSE}:before {
        transform: rotate(45deg);
    }

    #{id} .{CLASS.CLOSE}:after {
        transform: rotate(-45deg);
    }

    #{id} a {
        color: white;
    }

    #{id}.{CLASS.LIGHTBOX}.set-width.set-height .paypal-checkout-lightbox-wrapper {
        padding: 5px;
        border-radius: 10px;
    }

    #{id} .paypal-checkout-lightbox-wrapper {
        display: none;
        background-color: white;

        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
        -o-transition: all 0.6 ease;
        transition: all 0.6s ease;

        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;

        -webkit-animation-name: bounceInUp;
        animation-name: bounceInUp;
    }

    #{id}.{CLASS.LIGHTBOX}.{CLASS.CLOSING} .paypal-checkout-lightbox-wrapper {

        -webkit-animation-name: bounceOutDown;
        animation-name: bounceOutDown;
    }

    #{id}.{CLASS.LIGHTBOX} .paypal-checkout-lightbox-wrapper {
        display: block;
    }



    /*!
     * animate.css -http://daneden.me/animate
     * Version - 3.5.1
     * Licensed under the MIT license - http://opensource.org/licenses/MIT
     *
     * Copyright (c) 2016 Daniel Eden
     */

    @-webkit-keyframes bounceInUp {
        from, 60%, 75%, 90%, to {
            -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }

        from {
            opacity: 0;
            -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0);
        }

        60% {
            opacity: 1;
            -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
        }

        75% {
            -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
        }

        90% {
            -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
        }

        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes bounceInUp {
        from, 60%, 75%, 90%, to {
            -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }

        from {
            opacity: 0;
            -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0);
        }

        60% {
            opacity: 1;
            -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
        }

        75% {
            -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
        }

        90% {
            -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
        }

        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @-webkit-keyframes bounceOutDown {
        20% {
            -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
        }

        40%, 45% {
            opacity: 1;
            -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
        }

        to {
            opacity: 0;
            -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
        }
    }

    @keyframes bounceOutDown {
        20% {
            -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
        }

        40%, 45% {
            opacity: 1;
            -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
        }

        to {
            opacity: 0;
            -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
        }
    }

    @-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeOut {
        from {
            opacity: 1;
        }

        50% {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }

        50% {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }



    .paypal-spinner {
        height: 30px;
        width: 30px;
        display: inline-block;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-animation: rotation .7s infinite linear;
        -moz-animation: rotation .7s infinite linear;
        -o-animation: rotation .7s infinite linear;
        animation: rotation .7s infinite linear;
        border-left: 8px solid rgba(0, 0, 0, .2);
        border-right: 8px solid rgba(0, 0, 0, .2);
        border-bottom: 8px solid rgba(0, 0, 0, .2);
        border-top: 8px solid #fff;
        border-radius: 100%
    }

    @-webkit-keyframes rotation {
        from {
            -webkit-transform: rotate(0deg)
        }
        to {
            -webkit-transform: rotate(359deg)
        }
    }
    @-moz-keyframes rotation {
        from {
            -moz-transform: rotate(0deg)
        }
        to {
            -moz-transform: rotate(359deg)
        }
    }
    @-o-keyframes rotation {
        from {
            -o-transform: rotate(0deg)
        }
        to {
            -o-transform: rotate(359deg)
        }
    }
    @keyframes rotation {
        from {
            transform: rotate(0deg)
        }
        to {
            transform: rotate(359deg)
        }
    }
</style>
