<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Paypal Checkout Integration Patterns</title>

    <link rel="stylesheet" href="/static/css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script src="https://js.braintreegateway.com/web/3.8.0/js/client.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.8.0/js/paypal.min.js"></script>
</head>

<body>
    <div id="app" class="app"></div>
    <script src="/static/js/demo.js"></script>
</body>
