@font-face {
    font-family: "pp-sans-big-light";
    src: url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Light.eot");
    src: url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Light.eot?#iefix") format("embedded-opentype"), url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Light.woff") format("woff"), url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/headlinedark/festivo1.ttf") format("truetype"), url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Light.svg") format("svg");
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    min-width: 1200px;
}

* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

span.pre {
    display: inline-block;
    margin: 0;
    padding: 3px;
    white-space: pre-wrap;
    font-family: monospace;
    background-color: #ddd;
}

.app {
    margin: 0;
    min-height: 100%;
    height: 100%;
    font-family: "pp-sans-big-light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app > div {
    height: 100%;
}

.app header {
    margin: 0;
    background: linear-gradient(#4289C2, #316E9F);
    border-bottom: 2px solid #285A82;
    height: 80px;
}

.app header h1 {
    font-weight: normal;
    padding: 20px 40px;
    margin: 0;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1px;
    display: inline-block;
    white-space: nowrap;
}

.app header h1 img {
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

.app header h1 span {
    line-height: 40px;
    vertical-align: middle;
    text-shadow: 1px 1px #444;
}

.app header .toggle-component {
    float: right;
    margin-right: 20px;
    color: #eee;
}

.app header .toggle-component * {
    vertical-align: middle;
    line-height: 80px;
    margin: 0 3px;
}

.app header .toggle-component .toggle {
    display: inline-block;
    height: 30px;
    width: 55px;
    border: 1px solid #eee;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

.app header .toggle-component .toggle .switch {
    display: inline-block;
    height: 24px;
    width: 24px;
    background: #eee;
    border-radius: 13px;
    position: absolute;
    top: 2px;
    left: 2px;
    margin: 0;
    transition: left 0.1s ease;
}

.app header .toggle-component.left .toggle .switch {

}

.app header .toggle-component.right .toggle .switch {
    left: auto;
    left: 27px;
}

.app header .toggle-component.left .right-toggle {
    color: #aaa;
}

.app header .toggle-component.right .left-toggle {
    color: #aaa;
}

.app .main {
    box-sizing: border-box;
    display: table;
    min-height: calc(100% - 80px);
    height: calc(100% - 80px);
}

.app .main .column-left {
    width: 15%;
    background-color: #222;
    display: table-cell;
    box-sizing: border-box;
    vertical-align: top;
    min-width: 220px;
    height: 100%;
}

.app .main .column-left ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.app .main .column-left ul li {
    color: #ddd;
    font-size: 20px;
    padding: 20px 20px;
    border-bottom: 1px solid #444;
    cursor: pointer;
}

.app .main .column-left ul li:hover {
    background-color: #555;
    color: white;
}

.app .main .column-left ul a {
    text-decoration: none;
    color: #ddd;
}

.app .main .column-left ul li span {
    vertical-align: middle;
    letter-spacing: 1px;
}

.bullet {
    display: inline-block;
    background-color: #eee;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    vertical-align: middle;
    margin-right: 15px;
}

a.active .bullet {
    background-color: lightgreen;
}

.app .main .column-middle {
    width: 30%;
    background: white;
    display: table-cell;
    vertical-align: top;
    min-width: 470px;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    position: relative;
    box-shadow: 0px 0px 10px #fff;
}

.app .main .column-middle .demo {
    background-color: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    padding: 20px 40px;
    height: 100%;
}

.app .main .column-middle .demo h3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    display: inline-block;
    padding-right: 40px;
    margin-bottom: 10px;
}

.app .main .column-middle .demo hr {
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 10px 10px;
}

.app .main .column-middle .demo p {
    line-height: 26px;
}


.app .main .column-middle .demo .pre {
    line-height: 14px;
}

.app .main .column-middle .demo .code {
    text-align: center;
    padding: 10px 10px 0 10px;
    min-height: 60px;
}

.app .main .column-middle .demo .errors {
    font-size: 12px;
    font-family: monospace;
    color: red;
    white-space: pre-line;
    line-height: 20px;
}

.app .main .column-middle .demo .code iframe {
    display: inline-block !important;
}

.app .main .column-right {
    width: 55%;
    background: linear-gradient(#444, #111);
    display: table-cell;
    box-sizing: border-box;
    vertical-align: top;
    height: 100%;
}

.app .main .column-right .editor {
    width: 100%;
    height: 100%;
}




.app .main .column-middle .demo .code.mark label {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.app .main .column-middle .demo .code.mark label input {
    vertical-align: middle;
}

.app .main .column-middle .demo .code.mark label img {
    vertical-align: middle;
    height: 40px;
}

.app .main .column-middle .demo .code.mark #paypal-button-container {
    margin-top: 20px;
}

.app .main .column-middle .demo .code.mark #card-button-container {
    margin-top: 20px;
    min-height: 52px;
}
