@import '@paypal/sdk-constants/src/styles/index.scss';

.add-card-button {
    padding: 20px;

    a {
        color: $blueText;
        font-weight: 400;
        font-size: $defaultFontSize;
        text-decoration: none;
      
        &:hover {
            text-decoration: underline;
        }
    }
}