
.wallet-label {
    display: block;
    height: 100%;
    text-align: center;

    * {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    .divider {
        margin: 0 5px;
        opacity: 0.2;
    }

    .paypal-wordmark {
        display: none;
    }

    .card-art {
        border-radius: 3px;
    }

    .label {
        max-width: 40%;

       .limit {
           display: block;
           overflow: hidden;
           text-overflow: ellipsis;
       }
    }

    @media only screen and (max-width: 249px) {
        .paypal-mark, .paypal-wordmark {
            display: inline-block;
        }

        .label, .divider, .card-art, .pay-label, .logo {
            display: none;
        }
    }
}

.wallet-label-new {
    display: flex;
    height: 100%;
    width: 100%;
    text-align: left;

    * {
        display: inline-block;
        vertical-align: top;
        height: 100%;
    }

    .paypal-wordmark {
        display: none;
    }

    .card-art {
        border-radius: 3px;
    }

    .logo {
        margin-left: auto;
    }

    @media only screen and (max-width: 150px) {
        text-align: center;
        display: inline-block;

        .logo {
            display: none;
        }

        .pay-label {
            display: none;
        }
    }
}
