body {
    padding-top: 120px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.center {
    margin: auto;
    padding-left: 150px;
}

.showcase {
    float: left;
    display: block;
    margin: auto;
    margin-right: 13px;
    margin-bottom: 40px;
}

.resize {
    margin-bottom: 25px;
    margin-top: 20px;
}

.paymentOptions {
    margin-top: -8px;
    margin-left: 5px;
}

.checkoutButton {
    margin-top: 70px;
}

#editor {
    position: fixed;
    top: 161px;
    right: 0;
    bottom: 0;
}

.right {
    overflow: visible;
    float: right;
    width: 50%;
}

.left {

    float: left;
    width: 50%;
}